{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}
<style>
/* User added */
.description{
    background-color: #9c72f7;
    text-align: center;
    padding: 0 5%;
    padding-top: 5%;
    color: white;
    font-size: 2rem;
    line-height: 1.7;
    font-weight: 500;
}

.about{
    background-color: #113734;
    text-align: justify;
    padding: 0% 5%;
    color: white;
    font-size: 1.6rem;
    line-height: 1.5;
}

@media (max-width: 600px) {
    .description, .about{
        padding: 0 8%;
        color: white;
        font-size: 1.4rem;
    }
    .about{
        text-align: left;
    }
}

.section-divider-first {
    background-image: url('assets/aboutToText.svg');
    background-size: cover;
    min-height: 300px;
    background-repeat: no-repeat;
    background-position: center;
}

.section-divider-second {
    background-image: url('assets/textToAbout.svg');
    background-size: cover;
    min-height: 300px;
    background-repeat: no-repeat;
    background-position: center;
}

.site-footer {
    background-image: url('assets/aboutToFooter.svg');
    background-size: cover;
    min-height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 70px
}

.site-main{
    background-image: url('assets/text.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.post-feed{
    margin: 0;
}




</style>
<header class="site-home-header" id="title">
    {{> header-background background=@site.cover_image}} {{!--Special header-image.hbs partial to generate the background image--}}
        <div class="inner">
            {{> "site-nav"}}
            <div class="site-header-content">
                <h2 class="site-description">{{@site.description}}</h2>
            </div>
        </div>
    </div>
</header>

<div class="description">
    Ängen vill förena de djupare diskurserna med de vardagsnära samtalen om hållbarhet. Samtidsdebatten kring hållbarhetsfrågan rör sig sällan i djupled, utan fastnar på ytan vid detaljer om skatteväxlingar och elbilar. Vi vill skapa en inkluderande samtals-och tankeplats som visar hur viktigt konst och litteratur är för att möjliggöra det akuta behovet av förändring som vår samhällsmodell står inför. Och samtidigt diskutera hur djupet relaterar till ytan.
</div>
<div class="section-divider-first"></div>
{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner posts">

        <div class="post-feed">
            {{#foreach posts}}

                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-card"}}

            {{/foreach}}
        </div>

    </div>
</main>
<div class="section-divider-second"></div>
<div class="about" id="about">
    TANKEPLATSEN ÄNGEN är uppkallad efter en av 1900-talets mest inflytelserika miljötänkare, Donella Meadows. Hon fick sitt genombrott med publikationen The Limits to Growth 
    1972 och fortsatte sedan sin karriär som författare och miljöjournalist. 1999 publicerade 
    Meadows artikeln Leverage Points: Places to Intervene in a System, vilken skulle komma 
    att bli en av hennes mest kända publikationer. Artikeln redogör för hur man på det mest 
    effektiva sättet skapar största möjliga förändring i ett givet system. Ängen vill vara en förlängning av hennes tänkande och en plats där litteraturen, konsten och vetenskapen vävs 
    samman.
    <br><br>
    Den dominerande uppfattningen i dagens hållbarhetsdebatt är att vår utmaning handlar 
    om att förena ekonomisk tillväxt med en tillräckligt avtagande miljöbelastning. Det bygger 
    mycket på teknik- och marknadsoptimism – en idé om att problemen springer ur att vi har 
    misslyckats med att fånga in och prissätta naturkapitalet och ekosystemtjänsterna. Andra 
    utvecklingsvägar beskrivs ofta i termer av uppoffringar och nedmonteringar. Den här uppfattningen, närmare bestämt tron på den ekologiska moderniseringen, bidrar i allra högsta 
    grad till en farlig och vilseledande bild av hur vi ska och kan få bukt med den ekologiska 
    krisen. De aktörer som uppmärksammas för ”gott hållbarhetsarbete” idag, är ofta de som 
    anammar just den ekologiska moderniseringens tänkande.
    <br><br>
    Ängen vill problematisera tanken på den ekologiska moderniseringen som en möjlig och 
    önskvärd lösning. Med utgångspunkt i Meadows systemnivåer vill vi argumentera för varför 
    vi inte kan konsumera oss fram till varken hållbarhet eller lycka. I enlighet med Meadows 
    hävdar vi att språket styr de frihetsgrader som står till förfogande för skapandet av vår 
    framtida samhällskonstruktion. Vi vill diskutera vilka krafter som krävs för att förhindra ekologiska övertramp, och vad kan vi göra för att samtidigt nå fram till nedmonteringens och 
    uppoffrandets motsatser, med andra ord; den välfärd som växer ur våra verkliga behov. Den 
    välfärd som tillväxtparadigmet förnekat oss
</div>
{{!-- <div class="section-divider-third"></div> --}}

{{> site-header}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>

    // NOTE: Scroll performance is poor in Safari
    // - this appears to be due to the events firing much more slowly in Safari.
    //   Dropping the scroll event and using only a raf loop results in smoother
    //   scrolling but continuous processing even when not scrolling
    $(document).ready(function () {
        
        var nav = document.querySelector('.site-nav-main .site-nav');
        //! Olas update, här kollas description istället
        var feed = document.querySelector('.description');

        var lastScrollY = window.scrollY;
        var lastWindowHeight = window.innerHeight;
        var lastDocumentHeight = $(document).height();
        var ticking = false;

        function onScroll() {
            lastScrollY = window.scrollY;
            requestTick();
        }

        function onResize() {
            lastWindowHeight = window.innerHeight;
            lastDocumentHeight = $(document).height();
            requestTick();
        }

        function requestTick() {
            if (!ticking) {
                requestAnimationFrame(update);
            }
            ticking = true;
        }

        function update() {
            var trigger = feed.getBoundingClientRect().top + window.scrollY;
            var progressMax = lastDocumentHeight - lastWindowHeight;

            // show/hide nav
            if (lastScrollY >= trigger - 20) {
                nav.classList.add('fixed-nav-active');
            } else {
                nav.classList.remove('fixed-nav-active');
            }

            ticking = false;
        }

        window.addEventListener('scroll', onScroll, { passive: true });
        window.addEventListener('resize', onResize, false);

        update();

    });
</script>
{{/contentFor}}